doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Watermelon
        .watermelon
            .cut-1 
            .seed1 
            .seed2 
            .seed3 
            .seed4 
            .seed5 
            .cut-2 
    body 